/* Importanto variaveis de cord */
@import url(./variables.css);

/* Importando fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

ul {
  list-style: none;
}

body {
  background: var(--primary);
  background: #d9d9d9;
}

header a:-webkit-any-link {
  color: #ffff;
}
